<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>NFT Site</title>{% endblock %}
</head>
<body>
    {% block sidebar %}
    <span><a href="{% url 'index' %}"><img src="" alt="Logo"></a></span>
    <form action="{% url 'search' %}" method="get">
        {% csrf_token %}
        <input type="text" name="q" placeholder="Search"/>
    </form>
    <ul class="sidebar-nav">
        <li><a href="{% url 'index' %}">Marketplace</a></li>
    </ul>
    <hr>
    {% endblock %}
    {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>