{% extends "base_site.html" %}

{% block content %}
  <div class="container d-md-flex">
    <div class="row">
      <div class="col">
        <h1>Marketplace</h1>
        <p>Welcome to the Markeplace of NFTs, a website developed by <em>Gabriel Pogor Dima</em>!</p>
        <div>
          {% for collections in collections%}
          <div>
            <h5>{{collections.id}} -- <a href="{{collections.get_url}}">{{collections.collection_name}}</a></h5>
          </div>
          {% endfor %}
        </div>
      </div>
      
      <div class="col-4 text-center text-sm-start">
        <div class="container">
          <div>
            <h3>Recent NFT uploaded</h3>
            <small>Total {{nft_count}} NFTs upload in the Site</small>
            <hr>
          </div>
          <div>
            {% for nft in latest_nfts %}
            <div class="d-sm-flex aling-items-center justify-content-between">
                {% if nft.nft_image %}
                  <a href="{{nft.get_url}}"><img class="img-fluid d-md-block" src="{{nft.nft_image.url}}" alt="nft_image" width="100"></a>
                  <div>
                    Collection: <a href="{{nft.collection_name.get_url}}">{{nft.collection_name}}</a>
                    <br>
                    #{{nft.nft_id}}<br>
                    <small>{{nft.created | timesince}} ago.</small>
                  </div>
                {% else %}
                  {% if not nft.nft_name %}
                    <div style="width: 100px;"><a href="{{nft.get_url}}">#{{nft.nft_id}}</a></div>
                    <div>
                      Collection: <a href="{{nft.collection_name.get_url}}">{{nft.collection_name}}</a>
                      <br>
                      <small>{{nft.created | timesince}} ago.</small>
                    </div>
                  {% else %}
                    <div style="width: 100px;"><a href="{{nft.get_url}}">{{nft.nft_name}} #{{nft.nft_id}}</a></div>
                    <div>
                      Collection: <a href="{{nft.collection_name.get_url}}">{{nft.collection_name}}</a>
                      <br>
                      <small>{{nft.created | timesince}} ago.</small>
                    </div>
                  {% endif %}
                {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}