<footer class="text-center text-white mt-auto" style="background-color: #16A085;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/gabrielpogordima/nftsite" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright: <b>Gabriel Pogor Dima</b>.
    </div>
    <!-- Copyright -->
</footer>