<header class="p-3 bg-green-light text-white" style="background-color: #16A085;">
  {% load static %}
  <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'assets/nft-color.png' %}" altlogo height="52">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <!--<li><a href="{% url 'index' %}" class="nav-link px-2 text-secondary">NFT Site</a></li>-->
          <li><a href="#" class="nav-link px-2 text-white">Marketplace</a></li>
          <li><a href="#" class="nav-link px-2 text-white">NFTs</a></li>
        </ul>
        <form class="form-inline md-form form-sm mt-0 ml-auto" action="{% url 'search' %}" method="get">
          {% csrf_token %}
          <!--<i class="fas fa-search" aria-hidden="true"></i>-->
          <input class="form-control form-control-sm ml-3 w-75" type="text" name="q" placeholder="Search" aria-label="Search">
        </form>

        <div class="text-end">
        {% if request.user.is_authenticated %}
          <div class="dropdown text-end">
            <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{user.url}}" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="{% url 'index' %}"><i class="far fa-user mr-2"></i> {{user}}</a></li>
                <li><a class="dropdown-item" href="{% url 'update-user'%}"><i class="fas fa-cog mr-2"></i> Settings</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt mr-2"></i> Logout</a></li>
            </ul>
          </div>
        {% else %}
          <a class="btn btn-outline-light me-2" href="{% url 'wallet' %}">Connect Your Wallet</a>
        {% endif %}
        </div>
      </div>
    </div>
  </header>