{% extends "base_site.html" %}
{% block content %}
<div class="container" style="width: 25rem; margin-top: 3rem; margin-bottom: 3rem;">
    <div class="card">
        <img src="{{nft.nft_image.url}}" alt="{% if nft.nft_name %}{{nft.nft_name}} #{{nft.nft_id}}{% else %}{{nft.collection_name}} #{{nft.nft_id}}{% endif %}" class="card-img-top">
        <div class="card-body text-center">
            <h5 class="card-tittle">{% if nft.nft_name %}{{nft.nft_name}} #{{nft.nft_id}}{% else %}{{nft.collection_name}} #{{nft.nft_id}}{% endif %}</h5>
            <p class="card-text">{{nft.nft_contract_addr}}</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'collection' nft.collection_name %}">{{nft.collection_name}}</a></li>
            <li class="list-group-item"><i class="fab fa-ethereum"></i> {{nft.nft_price_crypto}} ({{nft.get_dollars}})</li>
            <li class="list-group-item">Token Standard: {{nft.nft_standard}} ({{nft.nft_blockchain}})</li>
            <li class="list-group-item">Created by {{nft.creator}}</li>
        </ul>
    </div>  
    {% if request.user.is_authenticated %}
        <div class="text-center mt-3">
            <a class="btn btn-dark" href="{% url 'update-nft' nft.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'delete-nft' nft.id %}">Delete</a>
        </div>
    {% endif %}
</div>
{% endblock %}